$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;


$accent-color: #1D9F96;
$primary-color: #313A57;
$whiteColor: #ffffff;
$white-color: #ffffff;

$primary-font: "Inter", sans-serif;



