@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-hero {
  position: relative;
  //height: 100vh;
  @media (max-width: $breakpoint-lg) {
    height: auto;
    padding-top: 220px;
  }

  & .decor-line {
    margin: 59px auto 48px auto;
    @media (max-width: $breakpoint-md) {
      margin: 17px auto;
      height: 50px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;


    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      @media (max-width: $breakpoint-lg) {
        object-position: top;
      }
    }
  }

  &__content {
    max-width: 43.75%;
    padding: 44px 20px 74px 20px;
    backdrop-filter: blur(22px);

    // border-image-source: radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),radial-gradient(60% 51.57% at 50% 50%, #FDD66D 0%, #FCF6BD 100%),radial-gradient(54.8% 53% at 50% 50%, #151515 0%, rgba(21, 21, 21, 0) 100%);


    @media (max-width: $breakpoint-lg) {

      padding: 23px 15px 40px 23px;
      max-width: calc(100% + 30px);
      width: calc(100% + 30px);
      position: relative;
      left: -15px;
    }

    & .heading {
      @include fontSize(29, 45);
      color: $white-color;
      padding-bottom: 20px;
      @media (max-width: $breakpoint-md) {
        padding-bottom: 7px;
      }
    }

    & .description {
      @include fontSize(16, 20);
      line-height: 1.5;
      margin-bottom: 34px;
      color: $white-color;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 24px;
      }
    }

  }

  .cta {
    padding-top: 34px;
    @media (max-width: $breakpoint-md) {
      padding-top: 24px;
    }

    &:before {
      content: '';
      width: calc(100% + 40px);
      height: 1px;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: -20px;
      top: 0;
    }

    &__heading {

      @include fontSize(25, 30);
      padding-bottom: 23px;
      color: $white-color;
      @media (max-width: $breakpoint-lg) {
        padding-bottom: 14px;
      }
    }

    & .btn-primary {
      min-width: 223px;
      @media (min-width: $breakpoint-lg) {
        margin-top: 30px;
      }
    }

    & .form-control {
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 20px;
      }

      &__input {
        background: rgba(0, 0, 0, 0.3);
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(221, 223, 226, 0.4);
      }

      & ::-webkit-input-placeholder {
        font-size: 17px;
        font-weight: 300;
        line-height: 100%;
        color: $white-color;
        font-family: $primary-font;

        opacity: 1;
        transition: opacity 0.5s;
      }

      & ::-moz-placeholder {
        font-size: 17px;
        font-weight: 300;
        line-height: 100%;
        color: $white-color;
        font-family: $primary-font;

        opacity: 1;
        transition: opacity 0.5s;
      }

      & :-ms-input-placeholder {
        font-size: 17px;
        font-weight: 300;
        line-height: 100%;
        color: $white-color;
        font-family: $primary-font;

        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
}

.s-benefit {
  padding: 100px 0;
  @media (max-width: $breakpoint-md) {
    padding: 50px 0;
  }

  & .benefit {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 15px;
      }
    }

    &__item {
      border: 1px solid #EFF1F4;
      border-radius: 30px;
      padding: 16px 20px 20px 20px;
      @media (max-width: $breakpoint-lg) {
        padding: 16px 10px;
      }
    }

    &__icon {
      object-fit: contain;
      object-position: left;
      width: 100%;
      height: 100%;

      &-wrap {
        height: 64px;
        width: 84px;
        margin-bottom: 20px;
        @media (max-width: $breakpoint-lg) {
          height: 50px;
          width: 70px;
          margin-bottom: 9px;
        }
      }
    }

    &__title {
      margin-bottom: 5px;

      @include fontSize(15, 18);
      line-height: 1.66;
    }

    &__text {
      @include fontSize(15, 17);

      line-height: 1.47;

    }
  }
}

.s-services {
  padding: 86px 0 0 0;
  background: rgba(245, 247, 248, 1);

  & .decor {
    &-1, &-2 {
      position: absolute;
    }

    &-1 {
      top: 0;
      right: -73px;
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }

    &-2 {
      left: -117px;
      bottom: 69px;
      @media (max-width: $breakpoint-md) {
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1300px;
        max-width: max-content;
      }
    }
  }

  & .heading {
    margin-bottom: 39px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 17px;
    }
  }

  & .description {
    width: 90%;
    margin: 0 auto 25px auto;

    &:not(span) {
      font-size: 25px;
    }

    & span {
      display: inline-block;
      width: 100%;
      font-size: 17px;
      padding-top: 10px;
    }
  }

  & .service {
    &-category {
      &:not(&:last-child) {
        margin-bottom: 31px;
      }

      &__heading {
        margin-bottom: 31px;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 30px;
      justify-content: center;
      @media (max-width: 1160px) {
        grid-template-columns: repeat(2, auto);
      }
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(1, auto);
      }
    }

    &__item {
      @media (max-width: $breakpoint-xl) {
        max-width: 405px;
      }
    }

    &__info {
      width: calc(100% - 40px);
      min-height: 250px;
      margin-left: 20px;
      padding: 15px 20px 30px 20px;
      background: $white-color;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      margin-top: -75px;
      z-index: 2;
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      @media (max-width: $breakpoint-md) {
        min-height: auto;
        width: calc(100% - 20px);
        padding: 14px 20px 22px 20px;
        margin-top: -35px;
        margin-left: 10px;
      }

      & .title {
        padding-bottom: 25px;
        text-align: center;


      }

      &-bottom {
        position: relative;
        padding-top: 20px;

        &:after {
          content: '';
          width: calc(100% + 40px);
          height: 1px;
          background: rgba(108, 114, 126, 0.1);
          position: absolute;
          left: -20px;
          top: 0;
        }
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        padding-bottom: 68%;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }

  & .service-consultation {
    bottom: -60px;
    margin-top: -30px;
    position: relative;
    z-index: 3;
    padding-left: 30px;
    @media (max-width: $breakpoint-md) {
      padding: 16px 30px 20px 30px;
      text-align: center;
      bottom: 0;
      margin: 0;
      border-radius: 0;
      width: calc(100% + 30px);
      left: -15px;
    }

    &:before {
      content: '';
      width: calc(100%)
    }


    background: $white-color;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &__title {

      @include fontSize(20, 25);

      margin-bottom: 17px;
    }

    &__description {
      @include fontSize(15, 18);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 9px;
      }
    }

    &__price {
      background: #f5f7f8;
      @include fontSize(22, 25);
      min-height: 130px;
      width: 100%;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      @media (max-width: $breakpoint-md) {
        background: transparent;
        min-height: auto;
        margin-bottom: 16px;
      }
    }

  }


}

.s-about {
  padding: 135px 0 108px 0;
  @media (max-width: $breakpoint-lg) {
    padding: 41px 0 50px 0;
  }

  & .heading {
    margin-bottom: 31px;

    &:after {
      left: 0;
      transform: none;
    }
  }

  & .description {
    margin-bottom: 20px;
    @include fontSize(15, 18);
    line-height: 1.66;
  }

  &__gallery {
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: $breakpoint-lg) {
      margin-top: 24px;
    }

    & .gallery {
      &__img {
        border-radius: 10px;
      }
    }
  }

  & .benefit {
    &__icon {
      margin-top: 4px;
    }

    &__title, &__text {

      @include fontSize(15, 18);
      color: rgba(75, 75, 75, 1);
      line-height: 1.66;
    }

    &__title {
      margin-bottom: 3px;
    }

    &__item {
      display: grid;
      grid-template-columns: 24px 1fr;
      gap: 13px;

      &:not(&:last-child) {
        margin-bottom: 21px;
      }
    }

    &__wrap {

    }
  }

  & .swiper {
    &-controls {
      padding: 19px 9px 0 9px;
      background: $white-color;
      border-radius: 10px 10px 0 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 3;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);


    }
  }
}

.s-step-work {
  padding: 88px 0 94px 0;
  //border-top: 1px solid rgba(108, 114, 126, 0.2);
  @media (max-width: $breakpoint-lg) {
    padding: 60px 0 44px 0;
  }

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(108, 114, 126, 0.2);
    max-width: 1305px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .heading {
    margin-bottom: 53px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 20px;
    }
  }

  & .step {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 15px;
      }
    }

    &__number {
      background: rgba(103, 176, 44, 1);
      width: 40px;
      height: 40px;
      border: 4px solid $white-color;
      border-radius: 100%;
      color: $white-color;
      font-size: 16px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__heading {
      @include fontSize(15, 17);
      line-height: 1.47;
      color: rgba(108, 114, 126, 1);
    }

    &__icon {
      width: 70%;

      &-wrap {
        height: 114px;
        width: 114px;
        border-radius: 100%;
        margin: 0 auto 10px auto;
        border: 1px solid rgba(103, 176, 44, 1);
        @media (max-width: $breakpoint-lg) {
          margin-bottom: 0;
        }

        &:before {
          content: '';
          width: calc(100% - 24px);
          height: calc(100% - 24px);
          background: $white-color;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 100%;
          transform: translate(-50%, -50%);
          z-index: -1;


        }
      }
    }
  }
}

.s-certificates {
  background: rgba(245, 247, 248, 1);
  padding: 88px 0 99px 0;
  @media (max-width: $breakpoint-lg) {
    padding: 40px 0 50px 0;
  }

  & .heading {
    margin-bottom: 37px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 20px;
    }
  }

  & .certificate {
    &__img {
      position: absolute;
      top: 10px;
      left: 10px;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      object-fit: contain;

      &-wrap {

        border: 1px solid #EFF1F4;
        background: #fff;
        border-radius: 10px;

        &:after {
          content: '';
          padding-bottom: 67%;
          display: block;
        }
      }
    }
  }

  & .swiper {
    &-controls {
      margin-top: 40px;
      @media (max-width: $breakpoint-lg) {
        margin-top: 30px;
      }
    }
  }
}

.s-client {
  padding: 86px 0 108px 0;
  @media (max-width: $breakpoint-lg) {
    padding: 40px 0 50px 0;
  }

  & .heading {
    margin-bottom: 40px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 0;
    }
  }

  & .swiper {
    &-container {
      width: calc(100% + 30px);
      padding: 0 15px;
      left: -15px;
    }

    &-controls {
      margin-top: 20px;
      @media (max-width: $breakpoint-lg) {
        margin-top: 10px;
      }
    }
  }

  & .client__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-wrap {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      padding-bottom: 60%;
      border-right: 10px;
      margin: 20px 0;
      background: $white-color;
    }
  }
}

.s-cta {
  color: $white-color;
  @media (max-width: $breakpoint-lg) {
    padding: 0 0 80px 0;
  }

  & .content {
    padding: 30px 0 30px 25px;
    @media (max-width: $breakpoint-lg) {
      padding: 24px 0 0 0;
      text-align: center;
    }

    & .heading, & .description {
      color: $white-color;
    }

    & .heading {
      font-size: 42px;
      @include fontSize(25, 42);
    }

    & .description {
      @include fontSize(18, 30);
    }

    & .send-materials {
      padding-top: 35px;
      margin-top: 35px;
      @media (max-width: $breakpoint-lg) {
        padding-top: 26px;
        margin-top: 26px;
      }

      &__title {

        @include fontSize(15, 20);
        margin-bottom: 20px;
      }

      &__link {

        @include fontSize(15, 17);
        color: rgba(254, 243, 56, 1);
      }

      &:before {
        content: '';
        width: 70%;
        height: 1px;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 0;
        left: -40px;
        @media (max-width: $breakpoint-lg) {
          width: calc(100% + 30px);
          left: -15px;
        }
      }
    }
  }


  &__inner {

    background: rgba(103, 176, 44, 1);
    border-radius: 30px;
    //padding: 30px 10px;
    @media (max-width: $breakpoint-lg) {
      margin-top: 0;
    }
  }

  &__bg {
    margin-top: -50px;
    //height: calc(100% + 50px);
    padding-top: 100%;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }

    & img {
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      height: calc(100% + 50px);
      object-fit: contain;
    }

  }

  &__form {
    padding: 31px 0 34px 0;
    @media (max-width: $breakpoint-lg) {
      padding: 16px 0 53px 0;
    }

    & .form-control {
      margin-bottom: 20px;

      &__input, &__textarea {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        color: $white-color;

      }

      &__btn {
        width: 100%;
        @media (max-width: $breakpoint-lg) {
          margin-top: 0;
        }
      }
    }

    & ::-webkit-input-placeholder {
      font-size: 17px;
      font-weight: 300;
      line-height: 100%;
      color: $white-color;
      font-family: $primary-font;

      opacity: 1;
      transition: opacity 0.5s;
    }

    & ::-moz-placeholder {
      font-size: 17px;
      font-weight: 300;
      line-height: 100%;
      color: $white-color;
      font-family: $primary-font;

      opacity: 1;
      transition: opacity 0.5s;
    }

    & :-ms-input-placeholder {
      font-size: 17px;
      font-weight: 300;
      line-height: 100%;
      color: $white-color;
      font-family: $primary-font;

      opacity: 1;
      transition: opacity 0.5s;
    }
  }


}