@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-thanks {
  height: 100vh;
  padding-top: 86px;
  @media (max-width: $breakpoint-lg) {
    padding-top: 18px;
  }

  & .decor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .5;
  }

  & .logo {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;

    &__wrap {
      width: 223px;
      height: 212px;
      display: block;
      @media (max-width: $breakpoint-lg) {
        margin: 0 auto 41px auto;
        width: 121px;
        height: 115px;
      }
    }
  }

  & .bg {
    width: 100%;
    min-height: 100%;
    object-fit: cover;

    &__wrap {
      max-height: calc(100vh - 260px);
      position: absolute;
      bottom: 0;
      width: 110%;
      left: -5%;
      @media (max-width: $breakpoint-lg) {
        height: 550px;
        width: 150%;
        left: 0;
      }
    }
  }

  & .content {
    @media (max-width: $breakpoint-lg) {
      text-align: center;
    }

    & .heading {
      @include fontSize(40, 70);
      margin-bottom: 25px;
      padding: 0;
    }

    & .description {
      @include fontSize(20, 35);
      margin-bottom: 35px;
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 32px;
      }
    }

    & .btn-primary {
      min-width: 223px;
      background: rgba(150, 0, 1, 1);
      color: $white-color;

      & i {
        color: $white-color;
      }
    }
  }
}
