@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  position: relative;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  border: none;

  font-size: 17px;
  line-height: 100%;
  padding: 14px 0 15px 0;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  min-width: 142px;
  @include transition(.5);

  &:focus {
    outline: none;
  }

  &-primary {
    background: #FEF338;
    color: #01203D;

    & i {
      position: absolute;
      right: 15px;
      top: 47%;
      transform: translateY(-50%);
      font-size: 17px;
      color: rgba(1, 32, 61, 1);
    }

    &:hover {

    }
  }

  &-transparent {
    border-color: #960001;
    color: #960001;
    padding: 14px 0 15px 0;

    &:hover {

    }
  }

  &-call {
    width: 88px;
    height: 88px;
    border-radius: 100%;
    border: 10px solid rgba(255, 255, 255, 0.6);
    background: #67b02c;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 5;
    @media (max-width: $breakpoint-lg) {
      right: 15px;
      bottom: 15px;
    }
  }
}



