@import "../abstracts/mixins";
@import "../abstracts/variables";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}


input {
  /* -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 */
  -webkit-border-radius: 0;
}

input, button {
  &:focus {
    outline: none;
  }
}

.form {

  &-control {
    position: relative;

    &__input, &__textarea {

      background: rgba(255, 255, 255, 1);
      border: none;

      border-radius: 10px;
      cursor: pointer;
      display: block;
      width: 100%;
      font-size: 17px;
      font-weight: 300;
      line-height: 1;
      font-family: $primary-font;
      color: rgba(49, 58, 87, 1);

      resize: none;
      padding: 12px 20px;
    }


    &__btn {
      width: max-content;
      margin: 0 auto;
      padding: 15px 33px 17px 33px;
      line-height: 100%;
      @media (max-width: $breakpoint-md) {
        margin-top: 10px;
      }
    }
  }
}

::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: 300;
  line-height: 100%;

  color: rgba(49, 58, 87, 1);
  //font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;

  opacity: 1;
  transition: opacity 0.5s;
}

::-moz-placeholder {
  font-size: 17px;
  font-weight: 300;
  line-height: 100%;

  color: rgba(49, 58, 87, 1);
  //font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;

  opacity: 1;
  transition: opacity 0.5s;
}

:-ms-input-placeholder {
  font-size: 17px;
  font-weight: 300;
  line-height: 100%;

  color: rgba(49, 58, 87, 1);
  //font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;

  opacity: 1;
  transition: opacity 0.5s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s;
}

div.wpcf7 .ajax-loader {
  display: none !important;
}


input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #21242C !important;
  caret-color: $whiteColor;
  -webkit-text-fill-color: #fff !important;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: $whiteColor;
  -webkit-text-fill-color: $whiteColor;
  -webkit-box-shadow: 0 0 0px 1000px #21242C inset;
  transition: background-color 5000s ease-in-out 0s;
}
